.container{
background-color: blue;
    
}
h1{
    color: chartreuse;
}
body{
    font-family: 'Old Standard TT', serif;

}
.col-md-3{
    color: chartreuse;
    font-family: 'Cookie', cursive; 
    font-size: medium;

}
#a{
color: blue;
}

