  
{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container">
	
        <h1> Trending Technology news sources</h1>
        <hr>

        {{ macro.displaySourceList(sources)}}

    
         
        <h1> Trending  Entertainment news sources</h1>
        <hr>

        {{ macro.displaySourceList(entertainment_sources)}}

         
        <h1> Trending Sports news sources</h1>
        <hr>

        {{ macro.displaySourceList(sports_sources)}}
	
</div>


{%endblock%}
