{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

<!DOCTYPE html>
<html>
        {% block content %}


    <head>
    <body>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Highlight Website Online </title>
        {% endif %}

   
        <!-- Popular movie section  -->
        <h3> Popular Articles</h3>
         <ul>
            {% for popular_article in popular %}
                <li>{{ popular_article.title}}</li>
            {% endfor %}

        </ul>
    </ul>

    <!-- Upcoming movie  -->
    <h3> Trending Articles </h3>
     <ul>
        {% for trending_movie in trending %}
            <li>{{ trending_movie.title}}</li>
        {% endfor %}

    </ul>


    </body>
    {% endblock%}
</html>
